[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
psycopg2-binary = "*"
django-autoslug = "*"
pillow = "*"
django-filter = "*"
python-dotenv = "*"
django-cors-headers = "*"
whitenoise = "*"
gunicorn = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.12"
